* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/ptjk_background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page-container {
  color: #fff;
    background: radial-gradient(circle at center top, rgba(66, 161, 208, 0.65) 0%, rgba(47, 110, 183, 0.95) 512px);
    box-shadow: 0 8px 128px rgba(18, 41, 54, 0.5);
  width: 800px;
  margin: 0 auto;
  padding: 0 48px;
}

footer {
  text-align: center;
  border-top: 4px solid rgba(255,255,255, 0.5);
  padding: 32px 64px 0 64px;
}

section {
  border-bottom: 2px solid rgba(255,255,255, 0.5);
  opacity: 1;
  padding: 24px 0;
  transition: 0.5s ease;
}

section.hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.columns {
  display: flex;
  gap: 48px;
}

.column { flex: 1; }

.column.wide { flex: 3; }

.column.wide + .column { flex: 2; }

.column.wide + .column > p { font-size: 0.85rem; }

@media (max-width: 768px) {
  .page-container {
    width: 100%;
    padding: 0 24px;
  }

  .columns { display: block; }

  .column { 
    border-bottom: 2px solid rgba(255,255,255, 0.5);
    padding-bottom: 24px; 
  }

  .column + .column { padding-top: 24px; }

  .column:last-child { 
    border-bottom: none; 
    padding-bottom: 0;
  }
}

@media (min-width: 1400px) {
  .page-container {  width: 1024px; }
}

