/* UI Components  */
button.call-to-action {
  background-color: #00c07a;
  border: 4px solid #01a167;
  box-sizing: border-box;
  color: #fff;
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  display: block;
}

button.call-to-action:hover {
  background-color: #00d687;
  border-color: #00b875;
  box-shadow: 0 0 32px #00d68780;
  transform: translateY(-2px);
}

button.call-to-action::after {
  content: "»";
  margin-left: 8px;
}

.section-image-small,
.images-cycle {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  max-height: 320px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.images-cycle {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}

.images-cycle>img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.images-cycle>img.active {
  display: block;
}


.inline-button,
.reveal-button {
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 300;
  transition: 0.5s ease;
  padding: 0 12px;
}

.reveal-button {
  display: block;
  width: fit-content;
  margin: 24px auto;
  font-weight: 500;
  font-size: 1.5rem;
}

.inline-button:hover,
.reveal-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.inline-button::after,
.reveal-button::after {
  color: #666;
  margin-left: 4px;
  content: "»";
}

.inline-button.hidden,
.reveal-button.hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}

.social-links {
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 8px;
}

.social-icon {
  position: relative;
  padding-left: 32px;
}

.social-icon::before {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  background-color: rgb(28, 82, 137);
  display: inline-block;
  width: 24px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
  text-align: center;
  border-radius: 4px 0 0 4px;
}

.social-icon::after {
  content: "»";
  margin-left: 4px;
}

.social-icon.facebook::before {
  content: "f";
}

.social-icon.artstation::before {
  content: "a";
}

.social-icon.youtube::before {
  content: "y";
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.counter-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  position: relative;
  height: 128px;
}

.counter-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 32px;
  line-height: 32px;
}

.counter-digit {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  background: radial-gradient(circle, #5f5f5f 0%, #3c3c3c 100%);
  width: 64px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 96px;
}

.video-link {
  display: block;
  margin: 24px auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1.77 / 1;
  /* 16:9 ratio */
}

.video-link img {
  width: 100%;
  height: auto;
  display: block;
}